<!-- Page Content -->
<div id="page-content-wrapper">
    <div class="container-fluid">

        <% if (typeof templateToInclude == 'string') { %>

        <% if (templateToInclude == 'admin') { %>

        <%- include(pathToInclude) %>

        <% } %>

        <% if (templateToInclude == 'product') { %>
        <%- include ../product/create %>
        <% } %>

        <% if (templateToInclude == 'moduleInstallNew') { %>
        <%- include ../module/installNew %>
        <% } %>

        <% if (templateToInclude == 'customer_edit') { %>
        <%- include ./navbar.light.ejs %>
        <%- include ../customer/edit.ejs %>
        <% } %>

        <% if (templateToInclude == 'customer_item') { %>
        <%- include ./navbar.light.ejs %>
        <%- include ../customer/item.ejs %>
        <% } %>

        <% if (templateToInclude == 'customer_list') { %>
        <%- include ./navbar.light.ejs %>
        <%- include ../customer/list.ejs %>
        <% } %>

        <% if (templateToInclude == 'order_list') { %>
        <%- include ./navbar.light.ejs %>
        <%- include ../order/list.ejs %>
        <% } %>

        <% if (templateToInclude == 'product_list') { %>
        <%- include ./navbar.light.ejs %>
        <%- include ../product/list.ejs %>
        <% } %>

        <% if (templateToInclude == 'product_delete_ok') { %>
        <%- include ./navbar.light.ejs %>
        <%- include ../product/delete-ok.ejs %>
        <% } %>

        <% if (templateToInclude == 'list_module') { %>
        <%- include ./navbar.light.ejs %>
        <%- include ../module/list.ejs %>
        <% } %>

        <% if (templateToInclude == 'module_manage') { %>
        <%- include ./navbar.light.ejs %>
        <%- include(pathToInclude) %>




        <% } %>

        <% if (templateToInclude == 'categoryList') { %>
        <%- include ./navbar.light.ejs %>
        <%- include ../category/list.ejs %>
        <% } %>

        <% if (templateToInclude == 'admin_profile') { %>
        <%- include ./navbar.light.ejs %>
        <%- include ../admin/profile.ejs %>
        <% } %>

        <%# [START]: template to manage the product%>

        <% if (templateToInclude == 'productCreationOk') { %>
        <%- include ../product/creationOk.ejs %>
        <% } %>

        <% if (templateToInclude == 'categoryCreationOk') { %>
        <%- include ../category/creationOk.ejs %>
        <% } %>

        <% if (templateToInclude == 'categoryCreationKo') { %>
        <%- include ../category/creationKo.ejs %>
        <% } %>

        <% if (templateToInclude == 'category_delete_ok') { %>
        <%- include ./navbar.light.ejs %>
        <%- include ../category/delete-ok.ejs %>
        <% } %>

        <% if (templateToInclude == 'productCreationKo') { %>
        <%- include ../product/creationKo.ejs %>
        <% } %>

        <% if (templateToInclude == 'product_edit') { %>
        <%- include ./navbar.light.ejs %>
        <%- include ../product/edit.ejs %>
        <% } %>

        <% if (templateToInclude == 'product_edit_ok') { %>
        <%- include ./navbar.light.ejs %>
        <%- include ../product/edit-ok.ejs %>
        <% } %>

        <% if (templateToInclude == 'installModuleDone') { %>
        <%- include ./navbar.light.ejs %>
        <%- include ../module/installModuleDone.ejs %>
        <% } %>

        <% if (templateToInclude == 'edit_module') { %>
        <%- include ./navbar.light.ejs %>
        <%- include ../module/edit.ejs %>
        <% } %>

        <% if (templateToInclude == 'install_installation_done') { %>
        <%- include ./navbar.light.ejs %>
        <%- include ../../install/installation_done.ejs %>
        <% } %>

        <% if (templateToInclude == 'view_module_payment_paypal') { %>
        <%- include ./navbar.light.ejs %>
        <%#- include ../module/payment/paypal.ejs %>
        <% } %>

        <% if (templateToInclude == 'product_preview') { %>
        <%- include ./navbar.light.ejs %>
        <%- include ../product/preview.ejs %>
        <% } %>

        <% if (templateToInclude == 'product_delete') { %>
        <%- include ./navbar.light.ejs %>
        <%- include ../product/delete.ejs %>
        <% } %>

        <%# [END]: template to manage the product%>
        <% } %>

        <% if (templateToInclude == 'category_create') { %>
        <%- include ../commun-back/navbar.light.ejs %>
        <%- include ../category/create %>
        <% } %>

        <% if (templateToInclude == 'category_edit') { %>
        <%- include ../commun-back/navbar.light.ejs %>
        <%- include ../category/edit.ejs %>
        <% } %>

        <% if (templateToInclude == 'category_delete') { %>
        <%- include ./navbar.light.ejs %>
        <%- include ../category/delete.ejs %>
        <% } %>

    </div>
</div>


<!-- /#page-content-wrapper -->